<section>
    <h1 style="margin-top: 7%; font-size: 50px; text-align: center;">Our Team</h1>
<div class="container">
   
    <div class="row">
      <div class="card" style="--bc: #8E9792;--btn: #8E9792;">
        <img src="https://tse4.mm.bing.net/th?id=OIP.Gfp0lwE6h7139625a-r3aAAAAA&pid=Api&P=0&h=180" alt="*">
        <h2>Karishma</h2>
        <p class="role">Team Leader</p>
        <p>dildarmail.com</p>
        <a href="tel:+880123456789">Call</a>
      </div>
      <div class="card" style="--bc: #C89F9C;--btn: #C89F9C;">
        <img src="https://tse4.mm.bing.net/th?id=OIP.Gfp0lwE6h7139625a-r3aAAAAA&pid=Api&P=0&h=180" alt="*">
        <h2>Bhavana</h2>
        <p class="role">Team Member</p>
        <p>mishamail.com</p>
        <a href="tel:+880123456789">Call</a>
      </div>
      <div class="card" style="--bc: #15307D;--btn: #15307D;">
        <img src="https://tse4.mm.bing.net/th?id=OIP.Gfp0lwE6h7139625a-r3aAAAAA&pid=Api&P=0&h=180" alt="*">
        <h2>Nazeema</h2>
        <p class="role">Team Member</p>
        <p>dipjolmail.com</p>
        <a href="tel:+880123456789">Call</a>
      </div>
      <div class="card" style="--bc: #59878f;--btn: #4284ad;">
        <img src="https://tse4.mm.bing.net/th?id=OIP.Gfp0lwE6h7139625a-r3aAAAAA&pid=Api&P=0&h=180" alt="*">
        <h2>Akhila</h2>
        <p class="role">Team Member</p>
        <p>dipjolmail.com</p>
        <a href="tel:+880123456789">Call</a>
      </div>
    </div>
  </div>

  <div class="container">
    
    <div class="row">
      <div class="card" style="--bc: #8E9792;--btn: #8E9792;">
        <img src="https://tse4.mm.bing.net/th?id=OIP.Gfp0lwE6h7139625a-r3aAAAAA&pid=Api&P=0&h=180" alt="*">
        <h2>Prasanna</h2>
        <p class="role">Team Member</p>
        <p>dildarmail.com</p>
        <a href="tel:+880123456789">Call</a>
      </div>
      <div class="card" style="--bc: #C89F9C;--btn: #C89F9C;">
        <img src="https://tse4.mm.bing.net/th?id=OIP.Gfp0lwE6h7139625a-r3aAAAAA&pid=Api&P=0&h=180" alt="*">
        <h2>Mohana</h2>
        <p class="role">Team Member</p>
        <p>mishamail.com</p>
        <a href="tel:+880123456789">Call</a>
      </div>
      <div class="card" style="--bc: #15307D;--btn: #15307D;">
        <img src="https://tse4.mm.bing.net/th?id=OIP.Gfp0lwE6h7139625a-r3aAAAAA&pid=Api&P=0&h=180" alt="*">
        <h2>Azhar</h2>
        <p class="role">Team Member</p>
        <p>dipjolmail.com</p>
        <a href="tel:+880123456789">Call</a>
      </div>
      <div class="card" style="--bc: #59878f;--btn: #4284ad;">
        <img src="https://tse4.mm.bing.net/th?id=OIP.Gfp0lwE6h7139625a-r3aAAAAA&pid=Api&P=0&h=180" alt="*">
        <h2>Rishitha</h2>
        <p class="role">Team Member</p>
        <p>dipjolmail.com</p>
        <a href="tel:+880123456789">Call</a>
      </div>
    </div>
  </div>
</section>