<h1 style="margin-top: 120px; margin-left: 400px;">Paddy Seperator</h1>

<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <img class="mainImg" src="https://www.rice-mill-machine.com/store12/2019/11/Paddy-Separator-Working-Principle.jpg">
      <div class="allText aboveText">
        <p class="text-blk headingText">Paddy Separator Working Principle</p>
        
        
           
        <p class="text-blk description">
          
            Paddy Separator Machine is used to separate the brown rice from the paddy that is not be husked, it workds according to the difference of specific gravity, granularity and friction coefficient between paddy and brown rice, through the special separating tray to screen the mixture continuously, making it in stratification state.

            Due to the function of separation, big-density and small-size brown rice towards to the upper of the separating tray, Small specific gravity and large-size paddy towards to the lower part of the separating tray, then separating pure brown rice, mixture and pure paddy.
        </p>
       
    
      </div>
    </div>
    
        
            
    <div class="responsive-container-block Container bottomContainer">
      <img class="mainImg" src="https://www.rice-mill-machine.com/store12/2019/01/Rice-Hull-Separator.png">
      <div class="allText bottomText">
        <p class="text-blk headingText">
            DKTL Rice Hull Separator
        </p>
        <p class="text-blk subHeadingText">
            Separating the paddy and the broken brown rice from husk
        </p>
        
        <p class="text-blk description">
            Rice Hull Separator is used for separating the paddy and the broken brown rice from husk. The half-baked grain, shrunken rice and so on. Extracted secondary grain may be used as raw material of feedstuff and brewing.

The Rice Hull Separator usually installed behind the rice hulling machine and in the front of the rice husk wind tunnel. The rice husk separated by the separator is collected by the brake dragon. The fine dust of exhaust gas sent by the fan can be re-collected by bag filter, pulse or other forms of dust collector to ensure that emissions are in line with environmental requirements.
        </p>
       
      </div>
    </div>
    
    
</div>
    <div class="responsive-container-block Container">
        <img class="mainImg" src="https://www.rice-mill-machine.com/store12/2020/02/MGCZ-Paddy-Separator.jpg">
        <div class="allText aboveText">
          <p class="text-blk headingText">MGCZ Paddy separator
          </p>
          <p class="text-blk subHeadingText">
            Gravity Paddy separator

Separating the brown rice from the paddy
          </p>
          
             
          <p class="text-blk description">
            
            MGCZ series gravity paddy separator machine is designed to separate brown rice from paddy, according to the difference in gravity and surface friction.

Our paddy separator machine is suitable to sort all varieties of rice, such as long grain, medium grain and short grain, easily and accurately.

The paddy separator machine is the key to produce pure brown rice, and helps to increase the output greatly but also increase economic benefit in the modern complete set rice milling process.
</p>
         
      
        </div>
      </div>
      
    

    <div class="responsive-container-block Container bottomContainer">
        <img class="mainImg" src="https://www.rice-mill-machine.com/store12/2018/12/Double-Body-Paddy-separator.png">
        <div class="allText bottomText">
          <p class="text-blk headingText">
            Double Body Paddy separator
          </p>
          <p class="text-blk subHeadingText">
            SA Discolored Rice Color Sorter
          </p>
          
          <p class="text-blk description">
            This Double Body Paddy Separator Machine is used to separate pure brown rice and paddy rice from the mixture according to their differences in specific gravity and friction coefficient.

            With double separate bodies, this paddy separator machine has a big capcity and it's special designed for big rice mill plant.
            
            Our paddy separator machine is suitable to sort all varieties of rice, such as long grain, medium grain and short grain, easily and accurately.
          </p>
        </div>
        </div>
        <div class="row">
            <div class="column">
                </div>
            <div class="column">
               </div>
            
   
    </div>
  
 <app-navbar></app-navbar>