<h1 style="margin-left: 400px;margin-top: 200px;">Pre Cleaning Process</h1>
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <img class="mainImg" src="https://5.imimg.com/data5/OG/WT/GR/SELLER-8862867/rice-pre-cleaner.jpg">
      <div class="allText aboveText">
        <h2 class="text-blk headingText" style="font-size: 40px;">
          Pre-Cleaning Process
        </h2>
        <p class="text-blk subHeadingText">
            Pre-cleaning of paddy is a crucial step in modern rice processing. 
            It involves the removal of impurities such as straw, stones, dust, and other
            foreign materials before the paddy enters the milling process. Modern pre-cleaning
            systems use advanced equipment like rotary cleaners, de-stoners, and magnetic separators 
            to efficiently separate these impurities from the paddy. This ensures a higher quality of rice,
            reduces wear and tear on milling machinery, and improves the overall efficiency of the milling process.
            The use of automated systems in pre-cleaning has significantly increased the speed and accuracy of this 
            process, contributing to better product quality and reduced operational costs. 
        </p>
        
    
      </div>
    </div>
    <div class="responsive-container-block Container bottomContainer">
      <img class="mainImg" src="https://c7.alamy.com/comp/2BHKNP5/indian-women-cleaning-food-grains-2BHKNP5.jpg">
      <div class="allText bottomText">
        
        <h2 class="text-blk headingText" style="font-size: 40px;">
            Modern Cleaning
          </h2>
        <p class="text-blk description">
            Modern cleaning includes a colour sorting process to separate white and contaminated black grains which were earlier used by a durum processor. With the technological advancement and fitting of high-resolution cameras, the grains can be quickly inspected in a broader spectrum to subtle the impurities. Nowadays, UV rays sorting technologies are being used to check foreign materials as they offer better light density. These machines have the potential to provide more output than traditional cleaning methods, thereby improving the overall output quantity. The next step is insecticide treatments and cleaning of premises to destroy the insects before they damage the food. 

          
          
            
            
        
      </div>
    </div>
</div>
<app-navbar></app-navbar>





