<section>
  <div class="wrapper">
    <h1 style="margin-top: 100px;">Each Step Of Process</h1>
    <div class="cols">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://tse4.mm.bing.net/th?id=OIP.oqjzuNftD8B6bxq81oWsZgHaGd&pid=Api&P=0&h=180)">
              <div class="inner">
                <p>Paddy cleaner</p>
                <span></span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Manufacturers of top quality rice milling equipment. Dedicated to helping rice millers minimize their wastage and maximize their profits.</p>
                <a href="\paddys">click here!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://tse1.mm.bing.net/th?id=OIP.QZ_kUvABuDEMF4VrAxe2YAHaHa&pid=Api&P=0&h=180)">
              <div class="inner">
                <p>Grain Elevator</p>
                <span>Machine</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Manufacturers of top quality rice milling equipment. Dedicated to helping rice millers minimize their wastage and maximize their profits.</p>
                <a href="\elevator">click here!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://tse2.mm.bing.net/th?id=OIP.bK1dH-bRMTVmZZ5goCqblQHaG4&pid=Api&P=0&h=180)">
              <div class="inner">
                <p>Color Sorter</p>
                <span>Machine</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Manufacturers of top quality rice milling equipment. Dedicated to helping rice millers minimize their wastage and maximize their profits.</p>
                <a href="\color">click here!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://tse3.mm.bing.net/th?id=OIP.V_2qn3u2osO8Lmow-ylD1gHaE8&pid=Api&P=0&h=180)">
              <div class="inner">
                <p>Grading Rice</p>
                <span>Machine</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Manufacturers of top quality rice milling equipment. Dedicated to helping rice millers minimize their wastage and maximize their profits.</p>
                <a href="\grading">click here!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://tse4.mm.bing.net/th?id=OIP.GLj3GHZXnRtDy1KAO5U8jQAAAA&pid=Api&P=0&h=180)">
              <div class="inner">
                <p>Pre-cleaning</p>
                <span>Machine</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Manufacturers of top quality rice milling equipment. Dedicated to helping rice millers minimize their wastage and maximize their profits.</p>
                <a href="\precleaning">click here!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://tse2.mm.bing.net/th?id=OIP.pN2QZy_QVp0wBuclGmi7mgHaFE&pid=Api&P=0&h=180)">
              <div class="inner">
                <p>Post-Cleaning</p>
                <span>Machine</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Manufacturers of top quality rice milling equipment. Dedicated to helping rice millers minimize their wastage and maximize their profits.</p>
                <a href="\postcleaning">click here!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://tse2.mm.bing.net/th?id=OIP.pN2QZy_QVp0wBuclGmi7mgHaFE&pid=Api&P=0&h=180)">
              <div class="inner">
                <p>Paddy seperator</p>
                <span>Machine</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Manufacturers of top quality rice milling equipment. Dedicated to helping rice millers minimize their wastage and maximize their profits.</p>
                <a href="\seperator">click here!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: url(https://tse1.mm.bing.net/th?id=OIP._gmNAgIFB7fHiwqN1uyDEgHaEK&pid=Api&P=0&h=180)">
              <div class="inner">
                <p>Grain Discharger</p>
                <span>Machine</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>Manufacturers of top quality rice milling equipment. Dedicated to helping rice millers minimize their wastage and maximize their profits.</p>
                <a href="\discharger">click here!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
   <div class="aa" style="margin-top: 3%;">
    <div class="a1" style="margin-left: 4%;">
    <p style="font-size: 50px; font-family: cursive;">
      Our Mission
    </p>
    <p style="font-size: 26px; font-family: 'Montserrat'; line-height: 40px;">
      To make world class rice milling machines at a price that can be affordable to rice mills across India and the World.<br>
  
  Whether it is a first time entreprenuer setting up a rice mill or a big company setting up their 10th rice mill, our goal is the same. Your success is our mission.
  
    </p>
    </div>
    <div class="a2" style="margin-right: 4%;">
      <img src="https://www.suriengineers.co.in/wp-content/uploads/2023/02/our-mission.png" >
    </div>
   
   </div>
  
   <div class="aa" style="margin-top: 5%;">
  
    
    <div class="a1" style="margin-right: 4%; margin-left: 4%;">
    <p style="font-size: 50px; font-family: cursive;">
      Our Vision
    </p>
    <p style="font-size: 26px; line-height: 40px;">
      To become the global leader in the rice milling machinery space. With an evergrowing population, it is the need of the hour to produce not only more food but also better quality food.<br>
  
  More than 50% of rice mills in India and abroad still dont have modern machines. Our vision is to install high quality machines in every rice mill in the world.
  
    </p>
    </div>
    
   
   </div>
  </section>
  <app-navbar></app-navbar>
  
  
  
  
  