<h1 style="margin-left: 400px;margin-top: 200px;">Color Sorter Process</h1>

<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <img class="mainImg" src="https://www.anysorting.com/upload/2023-04/168111334064431500.png">
      <div class="allText aboveText">
        <p class="text-blk headingText">Sort paddy and brown rice to improve rice quality and reduce the breakage of rice</p>
        <p class="text-blk subHeadingText">
            SF Paddy and Brown Rice Color Sorter
        </p>
        
           
        <p class="text-blk description">
          
          The intelligent color & shape sorting technology and the intelligent sensing technology protect “green” when sorting paddy, and can separate red brown rice into different grades and protect the grade wanted, enabling a flexible sorting and separation of black brown rice, white brown rice, green brown rice, red brown rice, paddy and foreign materials...The new vision of sorting brings an intelligent new future.
        </p>
       
    
      </div>
    </div>
    
        
            <div class="row">
        <div class="column">
            <div class="zoom">
            <img src="https://www.anysorting.com/upload/2023-03/167783676701186700.png" alt="Snow" style="width:100%">
        </div></div>
        <div class="column">
            <div class="zoom">
            <img src="https://www.anysorting.com/upload/2023-03/167783671552437300.png" alt="Forest" style="width:100%">
        </div></div>
        <div class="column">
            <div class="zoom">
            <img src="https://www.anysorting.com/upload/2023-03/167783663542766100.png" alt="Mountains" style="width:100%">
        </div></div>
    <div class="column">
        <div class="zoom">
    <img src="https://www.anysorting.com/upload/2023-03/167783635396381400.png" style="width: 100%;">
</div>
</div>
</div>
    <div class="responsive-container-block Container bottomContainer">
      <img class="mainImg" src="https://www.anysorting.com/upload/2023-02/167755455369562300.png">
      <div class="allText bottomText">
        <p class="text-blk headingText">
            Precision sorting reduces milling pressure and brings down rice breakage
        </p>
        <p class="text-blk subHeadingText">
            SG Precision Rice Color Sorter
        </p>
        
        <p class="text-blk description">
            The perfect combination of the hawk-eye recognition technology and the intelligent sensing technology enables three-dimensional sensing that can intelligently identify rice with bran, rice with stripe or rice with embryo, protect discolored rice and defective rice, guarantee the purity of white rice, achieve the goal of less milling and gentle milling, support the real-time analysis of milling efficiency, create a digitized and intelligentized milling section.....Subversion in sorting and moderate processing.
        </p>
      </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="zoom">
            <img src="https://www.anysorting.com/upload/2023-03/167783705785286500.png" alt="Snow" style="width:100%">
        </div></div>
        <div class="column">
            <div class="zoom">
            <img src="https://www.anysorting.com/upload/2023-03/167783702469951800.png" alt="Forest" style="width:100%">
        </div></div>
        <div class="column">
            <div class="zoom">
            <img src="https://www.anysorting.com/upload/2023-03/167783695490779400.png" alt="Mountains" style="width:100%">
        </div></div>
    <div class="column">
        <div class="zoom">
    <img src="https://www.anysorting.com/upload/2023-03/167783690678758700.png" style="width: 100%;">
</div>
</div>
    <div class="responsive-container-block Container">
        <img class="mainImg" src="https://www.anysorting.com/upload/2023-02/167755107804691600.png">
        <div class="allText aboveText">
          <p class="text-blk headingText">Quality sorting ensures food safety

          </p>
          <p class="text-blk subHeadingText">
            SER Infrared Rice Color Sorter
          </p>
          
             
          <p class="text-blk description">
            
            The high-dimensional fingerprint sensing technology that varies from ultraviolet to infrared and the VNIR multi-spectral deep integration sensing technology combine with the cloud intelligence algorithm to intelligently sense everything and lead the future.
          </p>
         
      
        </div>
      </div>
      <div class="row">
        <div class="column">
            <div class="zoom">
            <img src="https://www.anysorting.com/upload/2023-03/167783963636977800.png" alt="Snow" style="width:100%">
        </div></div>
        <div class="column">
            <div class="zoom">
            <img src="https://www.anysorting.com/upload/2023-03/167783958872961900.png" alt="Forest" style="width:100%">
        </div></div>
        <div class="column">
            <div class="zoom">
            <img src="https://www.anysorting.com/upload/2023-03/167783949054206800.png" alt="Mountains" style="width:100%">
        </div></div>
    <div class="column">
        <div class="zoom">
    <img src="https://www.anysorting.com/upload/2023-03/167783942724695700.png" style="width: 100%;">
</div>
</div>
    <div class="responsive-container-block Container bottomContainer">
        <img class="mainImg" src="https://www.anysorting.com/upload/2023-02/167755415073045300.png">
        <div class="allText bottomText">
          <p class="text-blk headingText">
            Yellow rice expert and chalky rice guard
          </p>
          <p class="text-blk subHeadingText">
            SA Discolored Rice Color Sorter
          </p>
          
          <p class="text-blk description">
            The VNIR multi-spectral deep integration sensing technology, the remarkable color identification ability and the excellent biometric recognition ability upgrade the yellow rice expert again, which now can select and separate different colors of rice (such as yellow rice of two different grades, yellow rice and black rice, yellow rice and paddy, yellow rice and chalky rice), protect chalky rice while removing yellow rice and identify glass, plastics and other non-rice impurities.
          </p>
        </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="zoom">
                <img src="https://www.anysorting.com/upload/2023-04/168120513870640700.png" alt="Snow" style="width:100%">
            </div></div>
            <div class="column">
                <div class="zoom">
                <img src="https://www.anysorting.com/upload/2023-04/168120490786793400.png" alt="Forest" style="width:100%">
            </div></div>
            <div class="column">
                <div class="zoom">
                <img src="https://www.anysorting.com/upload/2023-04/168120483830508100.png" alt="Mountains" style="width:100%">
            </div></div>
        <div class="column">
            <div class="zoom">
        <img src="https://www.anysorting.com/upload/2023-04/168120474614204300.png" style="width: 100%;">
    </div>
    </div>
    </div>
  </div>
<app-navbar></app-navbar>